# MyeGPT files
src/graph
src/result
src/*.png
src/responses.json
responses
tuning
embed_*.py
*.sql
eval_results.json
modify_database.py
clindata
omicdata
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env*
.venv

# Visual Studio Code
#  Visual Studio Code specific template is maintained in a separate VisualStudioCode.gitignore 
#  that can be found at https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore
#  and can be added to the global gitignore or merged into this file. However, if you prefer, 
#  you could uncomment the following to ignore the enitre vscode folder
.vscode/
