aiofiles
dotenv
fastapi[standard-no-fastapi-cloud-cli]
fastapi-mail
itsdangerous
langchain==0.3.27
langchain-community
langchain-core
langchain-experimental
langchain-aws
langchain-anthropic
langchain-mistralai
langchain-openai
langchain-postgres
langchain-google-genai
langgraph
langgraph-checkpoint-postgres
langsmith
lifelines
matplotlib
openevals
pandas
psycopg[binary,pool]
pydantic
python-dotenv
pwdlib[argon2]
pyjwt[crypto]
requests
scipy
scikit-learn
seaborn
statsmodels
sqlalchemy
uvicorn